
body{
    background-color: #fffff3;
    margin: 0px;
}
h1{
    text-align: center;
    color: blue;
}
#hatter{
    margin: 0 auto;
    color: blue;
    background-color: rgb(201, 198, 198);
    width: 700px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}
.dogok{
    width: 70%;
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
    padding: 8px;
}



.bal{
    width: 33%;
}

.jobb{
    width: 65%;
}

#rad,.med{
    margin: 4px;
}

li{list-style: none;}

.szoba{
    padding-top: 20%;
    padding-bottom: 20%;
}

button{
    margin: 0 auto;
    display: block;
    margin-top: 16px;
}

#erk,#dat, select{
    color: rgb(156, 39, 23);
}

.ev{
    width: 10%;
}
.ellatas{
    padding-top: 10%;
    padding-bottom: 10%;
}
.ellatasok{
    padding-top: 2%;
}

.furdo{
    padding-top: 20%;
    padding-bottom: 20%;
}
.kerdes{
    padding-top: 20%;
    padding-bottom: 20%;
}
#doboz{
    margin-top: 10px;
}

.datumok{
    border-bottom: 1px solid black;
    padding: 8px;
    display: flex;
    flex-direction: column;

}
.datumj{
    border-top: 1px solid black;

}
@media screen and (max-width: 725px) {
    .dogok {
        flex-direction: column;
        justify-content: center;
    }

    .jobb {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    

    #hatter {
        width: 90%;
    }

    textarea {
        width: 90%;
    }
}